.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--primary);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.header__homelink,
.header__logoutlink,
.header__logotype {
    height: 24px;
}