.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background-color: var(--primary);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
}

.header__homelink,
.header__logoutlink,
.header__logotype {
  height: 24px;
}
