@import url(./main.css);

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.password__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.password {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.form {
  max-width: 60%;
  margin: auto;
}

.form__checkbox {
  display: block;
  cursor: pointer;
}

.eye {
  color: var(--primary);
  height: 24px;
  width: 24px;
}

.form__toggle {
  display: none;
}

.form__toggle~.eye--visible {
  display: none;
}

.form__toggle:checked~.eye--visible {
  display: inline-block;
}

.form__toggle:checked~.eye--hide {
  display: none;
}

.errors {
  color: red;
}