@import url(./main.css);
main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.password-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.password {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
.checkbox {
  display: block;
  cursor: pointer;
}
.eye {
  color: var(--primary);
  height: 24px;
  width: 24px;
}

.toggle {
  display: none;
}
.toggle ~ .visible {
  display: none;
}
.toggle:checked ~ .visible {
  display: inline-block;
}
.toggle:checked ~ .hide {
  display: none;
}
