@import url(./reset.css);
@import url(./header.css);
@import url(./../fonts/HelveticaNowDisplay/helvetica.css);

:root {
  --primary: #8531da;
  --primary-use: #6a27ae;
  --disabled: #777779;
  --helvetica: "HelveticaNowDisplay";
}

* {
  font-family: var(--helvetica);
}

.d-none {
  display: none !important;
}

.main__title {
  font-size: 2rem;
  font-weight: 800;
  color: var(--primary);
  text-decoration-line: overline underline;
}

.title {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--primary);
}

.title--small {
  font-weight: 600;
  font-size: 1.1rem;
}

.button {
  display: flex;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 85% 15% 85% 15% / 15% 85% 15% 85%;
  background: var(--primary);
  color: white;
  border: none;
}

.button:hover {
  background: var(--primary-use);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10%;
  align-self: stretch;
  gap: 2rem;
}

.form__element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-self: stretch;
}

.input--custom-style {
  border-radius: 10px;
  border: 1px solid var(--primary);
  padding: 1rem;
}

.input--custom-style:focus-within {
  outline: 1px solid var(--primary-use);
}

.switch {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.switch__button {
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 85% 15% 85% 15% / 15% 85% 15% 85%;
  color: var(--primary);
  border: var(--primary) solid 2px;
  transition: all ease-in-out 0.24s;
}

.switch__button:hover {
  color: white;
  background-color: var(--primary);
}

.switch__button.activated {
  color: white;
  background-color: var(--primary);
}

.joueurs {
  width: 100%;
  padding: 8%;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  color: var(--primary);
  text-align: center;
}

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.info__span {
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 85% 15% 85% 15% / 15% 85% 15% 85%;
  color: var(--primary);
  border: var(--primary) solid 2px;
}
