@import url(./reset.css);
@import url(./../fonts/HelveticaNowDisplay/helvetica.css);

html {
  --primary: #8531da;
  --primary-use: #6a27ae;
  --disabled: #777779;
  --helvetica: "HelveticaNowDisplay";
}

* {
  font-family: var(--helvetica);
}

.button {
  display: flex;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 85% 15% 85% 15% / 15% 85% 15% 85%;
  background: var(--primary);
  color: white;
  border: none;
}

.button:hover {
  background: var(--primary-use);
}

.input-style {
  border-radius: 10px;
  border: 1px solid var(--primary);
  padding: 1rem;
}

.input-style:focus-within {
  outline: 1px solid var(--primary-use);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10%;
  align-self: stretch;
  gap: 2rem;
}

.form-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-self: stretch;
}

.contribution-input {
  width: 100%;
}

.contribution-text {
  width: 100%;
  border-radius: 85% 15% 85% 15% / 15% 85% 15% 85%;
  background-color: var(--primary);
  color: white;
  padding: 10%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contribution-hide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--primary);
  border-radius: 85% 15% 85% 15% / 15% 85% 15% 85%;
  padding: 1rem;
}

.contribution-hide img {
  height: 24px;
}

.contributions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
  align-self: stretch;
  gap: 1rem;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  font-variant: small-caps;
  color: var(--primary);
  text-decoration-line: overline underline;
}

h2 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--primary);
}

h4 {
  font-weight: 600;
  font-size: 1.1rem;
}

.loufokeries {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0 10%;
  width: 100%;
}

.loufokerie {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 10%;
  width: 100%;
}

.loufokerie img {
  height: 48px;
}

.loufokerie-info {
  display: flex;
  align-self: stretch;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--primary);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.menu a {
  height: 24px;
}

.menu a img {
  height: 24px;
}

.switch {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.d-none {
  display: none !important;
}

.joueurs {
  width: 100%;
  padding: 8%;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.joueurs-noms {
  color: var(--primary);
  text-align: center;
}

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.info span {
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 85% 15% 85% 15% / 15% 85% 15% 85%;
  color: var(--primary);
  border: var(--primary) solid 2px;
}

.switch-button {
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 85% 15% 85% 15% / 15% 85% 15% 85%;
  color: var(--primary);
  border: var(--primary) solid 2px;
  transition: all ease-in-out 0.24s;
}

.switch-button:hover {
  color: white;
  background-color: var(--primary);
}

.switch-button.activated {
  color: white;
  background-color: var(--primary);
}
