@import url(./main.css);
main {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  margin-top: 64px;
  margin-bottom: 32px;
}
.form__textWrapper {
  width: 100%;
  position: relative;
}

.form__textarea {
  width: 100%;
  border-radius: 10px;
  border: 1px solid var(--primary);
  padding: 1rem;
  padding-right: 2rem;
}

.form__textarea:focus-within {
  outline: 1px solid var(--primary-use);
}
